.topbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #a03939;
  height: 5vh;
  color: white;
  overflow: hidden;
  z-index: 10;

  .title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
  }

  .loginlink {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 2rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width: 600px) {
  .HamburgerBar {
    display: none;
  }
}
